{% extends "layout.html" %}
{% block content %}
<div class="container d-flex my-2">
  <h1 class="fs-2 me-auto">Available books</h1>
  <a href="{{ url_for("books.create_book") }}">
    <span class="fs-2 my-auto">
      <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="32" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
      </svg>
    </span>
  </a>
</div>
<div class="container">
  <div class="row row-g-2">
  {% for book in books %}
    <div class="row row-g-2 my-2 bg-light rounded">
      <div class="col-md-6 py-3">
        <div class="row mb-2 fw-bold fs-5">
          <div class="col col-12">
            {{ book.title }}
          </div>
        </div>
        <div class="row mt-2 fw-light fs-6">

          <div class="col col-6">
            {{ book.authors|replace('/', ', ') }}
          </div>

          <div class="col col-6 d-flex justify-content-end align-items-baseline">
            Published {{ book.publication_date.strftime('%d %B, %Y') }}&nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
</svg>
          </div>
        </div>
      </div>
      <div class="col-md-1 py-3 d-flex align-items-center justify-content-center">
        <span class="fw-light">Pending: {{ book.unreturned_stock }}</span>
      </div>
      <div class="col-md-1 py-3 d-flex align-items-center justify-content-center">
        <span class="fw-light">Available: {{ book.available_stock }}</span>
      </div>
      <div class="col-md-1 py-3 d-flex align-items-center justify-content-center">
        <span class="fw-light">Total: {{ book.total_stock }}</span>
      </div>
      <div class="col-md"></div>
      <div class="col-md-1 d-flex justify-content-center align-items-center">
        Update &nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg> 
      </div>
      <div class="col-md-1 d-flex justify-content-center align-items-center text-danger">
        Delete &nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
      </div>
    </div>
  {% endfor %}

  <table class="table">
    <thead>
      <th scope="col">Book ID</th>
      <th scope="col">ISBN 13</th>
      <th scope="col">Title</th>
      <th scope="col">Authors</th>
      <th scope="col">Available stock</th>
      <th scope="col">Total stock</th>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <th scope="row">{{ book.id }}</th>
          <td>{{ book.isbn13 }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.authors }}</td>
          <td>{{ book.available_stock }}</td>
          <td>{{ book.total_stock }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<nav aria-label="Page navigation" class="d-flex justify-content-center">
  <ul class="pagination pagination-md">
    {% if current_page > 1 %}
      <li class="page-item"><a class="page-link" href="{{ url_for("books.list_books", page=current_page-1) }}">Previous</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    {% endif %}

    {% for page_number in range(1, total_pages+1) %}
      {% if page_number == current_page %}
      <li class="page-item active"><a class="page-link selected" href="{{ url_for("books.list_books", page=page_number) }}">{{ page_number }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="{{ url_for("books.list_books", page=page_number) }}">{{ page_number }}</a></li>
      {% endif %}
    {% endfor %}

    {% if current_page < total_pages %}
      <li class="page-item"><a class="page-link" href="{{ url_for("books.list_books", page=current_page+1) }}">Next</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}

