{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
    
      <h1 class="display-3">Welcome to FOSS-Library</h1>
    
      <p>This is a light library management software 📚 built FOSS United</p>
      <p><a href="https://github.com/cookiecutter-flask/cookiecutter-flask" class="btn btn-primary btn-large">Built with the help of cookiecutter-flask &raquo;</a></p>
    </div>
</div><!-- /.jumbotron -->

{% endblock %}

